---
import "@fontsource/inter";

import "posting/styles";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>posting template site</title>
  </head>
  <body>
    <main class="container">
      <slot />
    </main>
  </body>
</html>

<style>
  body {
    font-family: "Inter", sans-serif;
  }

  .container {
    max-width: 35rem;
    border: 1px dotted red;
  }
</style>

<style is:global></style>
