---
import "@fontsource/inter";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>posting template site</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    font-family: "Inter", sans-serif;
  }
</style>
