---
import { getCollection, type CollectionEntry } from "astro:content";

const allPosts = await getCollection("posts");

const newestFirst = (
  a: CollectionEntry<"posts">,
  b: CollectionEntry<"posts">
) => b.data.posted.valueOf() - a.data.posted.valueOf();
allPosts.sort(newestFirst);
---

<ul>
  {
    allPosts.map(async (post) => {
      const { Content } = await post.render();

      return (
        <li>
          <h2>post</h2>
          <div>posted {post.data.posted.toLocaleString()}</div>
          <div>
            <Content />
          </div>
        </li>
      );
    })
  }
</ul>
