body {
  background: #222;
  color: #fff;
  font-family: Inter, sans-serif;
}

a {
  color: #fff;
}

a:hover {
  color: #ddd;
}

button {
  padding: 0.2rem 0.5rem;
  color: #fff;
  background: none;
  border: 1px solid #fff;
}

button:hover {
  background: #444;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
}

/********
 * feed *
 ********/
.thread {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px dashed #555;
}

/********
 * post *
 ********/
.post > header,
.post > footer {
  padding: 0.5rem;
}

.post > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #555;
}

.post > footer {
  border-top: 1px solid #555;
}

.post > main {
  margin: 0.5rem;
}

/***************
 * post header *
 ***************/
.post > header a {
  color: inherit;
  text-decoration: none;
}

.post > header a:hover {
  color: #777;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.author > img {
  width: 1.8rem;
  border-radius: 9999px;
}

.meta {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 80%;
  color: #555;
}

.tags {
  display: flex;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*************
 * post body *
 *************/
.prose {
  line-height: 1.5;
}

.prose img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

/***************
 * post editor *
 ***************/
.editor textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 7rem;
  margin: 0;
  padding: 0;
  resize: vertical;

  color: #fff;
  background: none;
  border: none;
}

.editorFooter {
  display: flex;
  justify-content: end;
}
