/********
 * feed *
 ********/
.feed {
  max-width: 30rem;
}

.feed > .post {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px dashed #555;
}

/********
 * post *
 ********/
.post > header,
.post > footer {
  padding: 0.5rem;
}

.post > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #555;
}

.post > footer {
  border-top: 1px solid #555;
}

.post > main {
  margin: 0.5rem;
}

/***************
 * post header *
 ***************/
.author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.author > img {
  width: 1.8rem;
  border-radius: 9999px;
}

.meta {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 80%;
  color: #555;
}

.tags {
  display: flex;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*************
 * post body *
 *************/
.prose {
  line-height: 1.5;
}

.prose img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
