---
import type { CollectionEntry } from "astro:content";

import { PostView } from "./Post";

interface Props {
  posts: CollectionEntry<"posts">[];
}

const { posts } = Astro.props;
---

<section class="feed">
  {
    posts.map(async (post) => {
      const { Content } = await post.render();

      return (
        <article class="thread">
          <PostView post={post}>
            <Content />
          </PostView>
        </article>
      );
    })
  }
</section>
